:root{
  --color1: #2C3333;
  --color2: #2E4F4F ;
  --color3: #0E8388  ;
  --color4: #CBE4DE;
  --colorAlt1: #13005A;
  --colorAlt2: #00337C;
  --colorAlt3: #1C82AD;
  --colorAlt4: #03C988;
}
.nav-bar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 300px;
    background-color: var(--colorAlt1);
}
.nav-bar-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav-bar-logo h4{
  /* text-align: center; */
  font-family: 'Turret Road', cursive;
}
.nav-bar-logo img{
    width: 150px;
}
.highlight{
  color: var(--colorAlt4);
}
.nav-bar-gameCategories{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: var(--colorAlt4);
}
.nav-bar-gameCategories_link{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    
    
}

.nav-bar-gameCategories_link a {
    text-decoration: none;
    color: var(--color4);
    transition: color 0.3s ease;
}
.nav-bar-gameCategories_link svg {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .nav-bar-gameCategories_link svg:hover {
    color:var(--colorAlt4);
    animation-name: moveUpDown;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

.nav-bar-gameCategories_link:hover a {
    color: var(--colorAlt4);
}
.nav-bar-gameCategories_link.active svg {
    color: var(--colorAlt4);
  }
  
  .nav-bar-gameCategories_link.active a {
    color: var(--colorAlt4);
  }
.nav-bar-buttonLoginAndCart{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}

  